<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIQUEST - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>UNIQUEST</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>
    </header>

    <main>
        <section id="about-section">
            <h2>About Us</h2>
            <p>Welcome to UNIQUEST ! We help students find the best colleges based on their preferences.</p>
            <p> Created by Students of College of Engineering, Attingal.</p>
            <p>  "SHS".</p>
            <p>    Samvrtha Vichithran</p>
            <p>    Sankeerthana Dileep</p>
            <p>    B S Haripriya</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 UNIQUEST</p>
    </footer>
    <script src="./script.js"></script>
</body>
</html>